{% load static %}
{% block metadescription %}
     welcome to the cart store
{% endblock %}
{% block title %}

{% endblock %}
<h3>Register</h3>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> welcome</title>
</head>
<body>
<form action="register" method="post"><br>
    {% csrf_token %}
    <input type="text" name="username" placeholder="username"><br><br>
    <input type="text" name="first_name" placeholder="firstname"><br><br>
    <input type="text" name="last_name" placeholder="lastname"><br><br>
    <input type="email" name="email" placeholder="email"><br><br>
    <input type="password" name="password1" placeholder="password"><br><br>
    <input type="password" name="password2" placeholder="confirm password"><br><br>
    <input type="submit" value="registration" class="btn btn-success">
</form>
<div>
    {% for message in messages %}
    <h4>{{message}}</h4>
    {% endfor %}
</div>

</body>
</html>